.content-dimensions{
  width: 900px;
  height: 4400px;
}
#aboutMe{
  width: 590px;
  height: 410px;
}
#selfPortrait{
  float: left;
  display: block;
  border-radius: 30px;
  margin: 5px;
}
#aboutText{
  float: left;
  margin: 5px;
  width: 600px;
  height: 210px;
  text-align: left;
  position: relative;
  top: 2%;
  font-size: 1.125em;
}
