.event{
  width: 675px;
  height: 510px;
  margin 20px auto;
  position: relative;
}
.event i {
  color: #D3D3D3;
  visibility: hidden;
}
.leftArrow:hover > i, .rightArrow:hover > i{
  visibility: visible;
}
.event-img{
  width: 675px;
  height: 450px;

  posiiton: absolute;
  border-radius: 0px !important;
}

.leftArrow{
  height: 450px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 45px;
}
.rightArrow{
  height: 450px;
  width: 100px;
  position: absolute;
  right: 0px;
  top: 45px;
}
.leftArrow i {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 0px;
}
.rightArrow i{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  right: 0px;
}
