.event{
  width: 675px;
  height: 510px;
  margin 20px auto;
}
.event i {
  color: #D3D3D3;
  visibility: hidden;
}
.event h1{
  text-align: center;
}
.leftArrow:hover > i, .rightArrow:hover > i{
  visibility: visible;
}
.imageviewer{
  height: 450px;
  position: relative;
  z-index: 10;
  top: 0px;
  /*color: white;*/
}
.event-img{
  margin: auto;
  max-width: 675px;
  max-height: 450px;
  position: relative;
  border-radius: 0px;
  display: block;
  z-index: -1;
}

.leftArrow{
  height: 450px;
  width: 100px;
  position: absolute;
  left: 0px;
  bottom: 0%;
}
.rightArrow{
  height: 450px;
  width: 100px;
  position: absolute;
  right: 0px;
  bottom: 0%;
}
.leftArrow i {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 0px;
}
.rightArrow i{
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  right: 0px;
}
