body{
  margin: 0;
  padding: 0;
}
.horizontal-center{
  margin: auto;
}
.title-element{
  float:left;
}
.title-element img{
  vertical-align: middle;
}
.title-element h1{
  display: inline-block;
  vertical-align: middle;
}

#header{
  display: block;
  width: 700px;
  margin: auto;
}

#nav{
  width: 700px;
  margin: auto;
}

.nav-item{
  text-decoration: none;
  margin: 0% 10% 0% 10%
  color: #000000;
}

#footer{
  display: inline-block;
  position: relative;
  bottom: 0px;
}

.list-unstyled li{
  list-style-type: none;
  display: inline;
}
